---
import ProjectCard from './ProjectCard.astro'
---

<div
  id="projects"
  class="h-screen bg-zinc-800 flex justify-center items-center"
>
  <ProjectCard
    Title="Stavox's Discord"
    Description="Test Description"
    Tech={['DiscordJS', 'Typescript']}
  />
</div>
