---
import SocialButton from './SocialButton.astro'
---

<div id="landing" class="flex h-screen items-center flex-col lg:flex-row">
  <div
    class="w-full h-1/3 flex lg:h-full lg:w-1/3 items-end justify-center bg-green-400"
  >
    <div class="hidden lg:flex m-4">
      <SocialButton platform="github" username="dusmpy" />
      <SocialButton platform="twitter" username="_dumspy" />
      <SocialButton platform="linkedin" username="dumspy" />
    </div>
  </div>
  <img
    class="object-cover absolute top-1/3 lg:top-auto lg:left-1/3 h-40 w-40 lg:h-80 lg:w-80 -translate-y-1/2 lg:translate-y-0 lg:translate-x-[-50%] rounded-full border-zinc-800 border-2"
    src="/images/me.jpg"
    alt="Portrait of me"
  />
  <div class="w-full h-2/3 lg:h-full lg:w-2/3 bg-zinc-800">
    <div
      class="flex flex-col items-center mt-32 lg:mt-auto lg:justify-center h-full"
    >
      <h1 class="text-4xl lg:text-6xl text-zinc-200 m-1 font-semibold">
        Felix Berger
      </h1>
      <h2 class="text-lg lg:text-2xl text-zinc-400 m-1">
        Full Stack Developer
      </h2>
      <div class="m-1">
        <a href="/cv.pdf">
          <button
            class="w-32 h-12 bg-zinc-800 border-green-400 rounded-md text-green-400 hover:border-green-500 border-2 mr-1 hover:text-green-500"
            >CV</button
          >
        </a>
        <!--<button
          class="w-32 h-12 bg-green-400 rounded-md text-zinc-800 hover:bg-green-500"
          >BUTTON 2</button
        >-->
      </div>
    </div>
  </div>
</div>
