---
import { Icon } from 'astro-icon'

interface Props {
  platform: string
  username: string
}

const { platform, username } = Astro.props
---

<a href={`https://${platform}.com/${username}`}>
  <Icon
    name={`simple-icons:${platform}`}
    class="w-16 mx-2 text-zinc-900 hover:text-zinc-800"
  />
</a>
