---
import SocialButton from '../SocialButton.astro'
import { constants } from '../../constants'
import background from '../../assets/images/background.jpg'
import { Image } from 'astro:assets';
---

<main class="">
    <Image src={background} alt="" class="w-screen h-screen object-cover" aria-hidden/>
    <section class="absolute w-screen h-screen top-0 flex justify-center items-center text-zinc-200 sm:text-[128px] text-4xl">
        <h1>{constants.fullname}</h1>
    </section>
</main>
