---
import Layout from '../layouts/Layout.astro'
import Landing from '../components/Landing/index.astro'
import AboutMe from '../components/AboutMe/index.astro'
import Footer from '../components/Footer/index.astro'
---

<!--  
  TODO: Replace about me text with something not made by copilot
	TODO: Projects section
-->
<Layout title="Welcome to Astro.">
  <main>
    <Landing />
    <AboutMe />
    <Footer/>
  </main>
</Layout>
