---
import Layout from '../layouts/Layout.astro'
import Landing from '../components/Landing/index.astro'
import AboutMe from '../components/AboutMe/index.astro'
import Footer from '../components/Footer/index.astro'
import Projects from '../components/Projects/index.astro'
---

<!--  
	TODO: Projects section
-->
<Layout title="Felix Berger">
  <main>
    <Landing />
    <AboutMe />
    <!--<Projects />-->
    <Footer />
  </main>
</Layout>
