---
import { Icon } from 'astro-icon'

interface Props {
  platform: string
  url: string
}

const { platform, url } = Astro.props
---

<a
  href={url}
  aria-label={`Link to my ${platform} page`}
>
  <Icon
    name={`simple-icons:${platform.toLowerCase()}`}
    class="w-16 mx-2 text-zinc-900 hover:text-zinc-800"
  />
</a>
